ws/MdResposta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
  name="MdResposta"
  targetNamespace="SeiMdResposta"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="SeiMdResposta">
  
  <wsdl:documentation>
    Este Web Service é voltado a obter as resposta do SEI para plataforma Gov.br.
  </wsdl:documentation>
  
  <wsdl:types>
    <xsd:schema targetNamespace="SeiMdResposta">

      <xsd:element name="RespostaRequest">
        <xsd:complexType>
          <xsd:sequence>
            
            <xsd:element name="SiglaSistema" type="xsd:string" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Informe o nome do sistema habilitado para receber resposta do SEI.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="IdentificacaoServico" type="xsd:string" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Informe a identificação do serviço habilitado para receber resposta do SEI.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="IdProcedimentos" type="tns:IdProcedimentos" minOccurs="0" maxOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Informe o identificador dos processos a serem consultados no SEI.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="NumProcedimentos" type="tns:NumProcedimentos" minOccurs="0" maxOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Informe o número dos processos a serem consultados no SEI.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="IdResposta" type="xsd:string" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>
                  Informe o identificador da resposta a ser consultada no SEI.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Resposta" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            
            <xsd:element name="IdResposta" type="xsd:int" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Identificador da resposta devolvido do Web Service.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="IdProcedimento" type="xsd:int" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Identificador do processo devolvido do Web Service.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="NumProtocolo" type="xsd:string" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Número do processo devolvido do Web Service.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="IdDocumento" type="xsd:int" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Identificador da resposta devolvida do Web Service.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="Mensagem" type="xsd:string" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Mensagem da resposta devolvida do Web Service.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="SinConclusiva" type="xsd:string" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Identificador se é conclusivo ou não devolvido do Web Service.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="DthResposta" type="xsd:string" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Data de envio da resposta devolvida do Web Service.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

            <xsd:element name="IdDocumentos" type="tns:IdDocumentos" minOccurs="1">
              <xsd:annotation>
                <xsd:documentation>
                  Identificador do processo devolvido do Web Service.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="IdProcedimentos">
        <xsd:sequence>
          <xsd:element name="IdProcedimento" type="xsd:int" minOccurs="0" maxOccurs="2" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="NumProcedimentos">
        <xsd:sequence>
          <xsd:element name="NumProcedimento" type="xsd:string" minOccurs="0" maxOccurs="2" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="IdDocumentos">
        <xsd:sequence>
          <xsd:element name="IdDocumento" type="xsd:int" minOccurs="0" maxOccurs="2" />
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="RespostaRequest">
    <wsdl:part element="tns:RespostaRequest" name="RespostaRequest" />
  </wsdl:message>

  <wsdl:message name="RespostaResponse">
    <wsdl:part element="tns:Resposta[]" name="RespostaResponse" />
  </wsdl:message>

  <wsdl:portType name="SeiMdRespostaPortType">
    <wsdl:operation name="listarResposta">
      <wsdl:documentation>Consulta Resposta ao Protocolo Digital</wsdl:documentation>
      <wsdl:input message="tns:RespostaRequest" />
      <wsdl:output message="tns:RespostaResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SeiMdRespostaSOAP" type="tns:SeiMdRespostaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="listarResposta">
      <soap:operation soapAction="SeiMdRespostaAction" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SeiMdResposta">
    <wsdl:port binding="tns:SeiMdRespostaSOAP" name="SeiMdRespostaSOAP">
      <soap:address location="http://localhost/sei/modulos/mod-sei-resposta/ws/MdRespostaWS.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>